/* imported fonts  */
/* ralway font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.raleway-font1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* inter font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* imported fonts End  */

/* header style  */
header {
    background-image: url(../Assets/Hero-bg.png);
   
}
/* header style End  */
/* nav style  */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
}
.nav-icon {
    font-size: 34px;
    color: #4E47FF;
    font-weight: 800;
}

/* nav style end  */

/* banner style  */
.banner {
    padding-top: 158px;
    padding-bottom: 170px;
    width: 905px;
    margin: auto;
    text-align: center;
}
.banner-title .title{
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 45px;
}
/* banner style End  */

/* action section style */
.action {
    display: flex;
    padding: 116px 159px;
    justify-content: space-between;
    font-family: "raleway", sans-serif;
}
.action-content {
    margin-top: 62.5px;
    margin-bottom: 62.5px;
    width: 517px;
}
.action .action-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    padding-bottom: 23px;
}
.action .action-description {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 23px;
}
.action-photo {
    border-radius: 48px;
    height: 328px;
    width: 403px;
}
.ac-photo {
    border-radius: 48px;
}
/* action section style End  */

/* production style  */
.production {
    text-align: center;
    justify-content: center;
    padding: 50px 142px;
    margin: 0 159px;
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);    
}
.production-title {
    font-family:"Raleway", sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    padding-top: 0;
    padding-bottom: 40px;
}
.productive-user-data {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.productive-data-title {
    font-family:"Inter", sans-serif ;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    padding-bottom: 10px ;
}
.productive-data-description {
    font-family:"Inter", sans-serif ;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* production style End  */

/* review style  */
.review {
    display: flex;
    justify-content: center;
    margin: 137px 151px;
}
.rev-title {
    font-family: "Raleway", sans-serif ;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.users-review {
    display: flex;
    gap: 20px;
}
.user-review {
    padding: 24px;
    border: 2px solid #F2EDED;
    background-color: #FFFFFF;
    border-radius: 14px;
}
.review-info {
    margin-top: 24px;
    margin-bottom: 24px;
}    
.user-review-titile {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
    margin-bottom: 15px;
}
.user-review-description {
    font-family:"Inter", sans-serif;
    font-size: 18px;
    line-height: 140%;
    color: #1E1E1E;
}
.name-date {
    justify-content: center;
}
.user-name {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 5px;
}
.date {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #B3B3B3;
}  
.avatar-name {
    display: flex;
}
.avatar {
    border-radius: 50px;
    margin-right: 15px;
}
/* review style End  */

/* focus section style  */
.focus  {
    display: flex;
    justify-content: center;
    font-family: "raleway", sans-serif;
    text-align: center;
    border-radius: 14px;

}
.focus-better-dv {
    display: block;    
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 71px 150px;
    margin: 0 159px;
    width: 1140px;
}
.focus-title {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.focus-description {
    font-size: 16px ;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
}
.focus-big {
    height: 364px;
    width: 840px;
    border-radius: 48px;
}
.get-started {
    margin: 0 0 20px 0;
}

/* focus section style End  */

/* newsletter style  */
.newsletter {
    display: flex;
    justify-content: center;
    padding: 71px 10px;
    
}
.news-letter {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.newsletter-title {
    display: flex;
    text-align: left;
    justify-items: center;
    font-size: 97px;
    font-weight: bold;
    width: 530px;
    margin-right: 150px;
    padding: 125px 0 0 0px ;
}
.newsletter-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.newsletter-form input[type="text"], input[type="email"],textarea{
    font-family: "inter", sans-serif;
    width: 497px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding: 20px 0 20px 32px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
}
label {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 7px;
}
.touch-btn {
   height: 60px;
}
/* newsletter style End  */

/* footer style  */
.footer-item {
   padding: 104px 455px;
}
.footer-description {
    font-family: "inter", sans-serif;
    font-size: 16px;
    color: #8987A1;
}
.footer-link {
    text-align: center;
}
.footer-link ul li {
   font-family: "Inter", sans-serif;
   line-height: 150%;
    display: inline;
    margin-right: 40px;
    list-style: none;
}
.footer-link ul li a {
    color: #8987A1;
}
.footer-icon {
    font-size: 100px;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* footer style End  */

/* shared style  */
body {
    margin: 0;
    padding: 0;
}
h3, h4, h5 {
    margin: 0;
}

a {
    text-decoration: none;
}
p {
    margin: 0px;
}

.primary-btn {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 36px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.primary-btn:hover {
    background-image: linear-gradient(to right, #9403FD, #00ADFE);
}
.background-color{
    background-color: #f5f8ff;
}
.secondary-bg {
    background-color: #FFFFFF;
}

/* shared style End  */