/* imported fonts  */
/* ralway font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.raleway-font1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* inter font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* imported fonts End  */

/* header style  */
header {
    background-image: url(../Assets/Hero-bg.png);
   
}
/* header style End  */
/* nav style  */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
}
.nav-icon {
    font-size: 34px;
    color: #4E47FF;
    font-weight: 800;
}

/* nav style end  */

/* banner style  */
.banner {
    padding-top: 158px;
    padding-bottom: 170px;
    width: 905px;
    margin: auto;
    text-align: center;
}
.banner-title .title{
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 45px;
}
/* banner style End  */

/* shared style  */
body {
    margin: 0;
    padding: 0;
}
h3 {
    margin: 0;
}

.primary-btn {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 36px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* shared style End  */